{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler Assistant</title>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'Images/favicon.png' %}" >
</head>
<!-- https://colorhunt.co/palette/cde8e5eef7ff7ab2b24d869c -->
<body>
    <div id="body">
        <div id="chatBox">
            {% include "chat.html" %}
        </div>
        <div id="tableBox">
            {% include "table.html" %}
        </div>
    </div>
    <div style="display: none;">
        <a  href="https://icons8.com/icon/j8vtslxN0LJo/logout">Logout</a> icon by <a href="https://icons8.com">Icons8</a>
    </div>
    <script src="{% static 'JS/base.js' %}"></script>
</body>
</html>