{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/chat.css' %}">
</head>
<body>
    <nav id="chatNav">
        <h2>Scheduler Assistant</h2>
    </nav>
    <div id="chatMain">
        <div id="chatContainer">
            {% for chat in chats %}
            <div class="chat">
                <div class="user chatText">
                    <div class="uicon icon">{{ username | slice:":1" | capfirst }}</div>
                    <pre>{{chat.user_text}}</pre>
                </div>
                <div class="ai chatText">
                    <div class="aicon icon">
                        <img src="{% static 'Images/favicon.png' %}" alt="ai" style="width: 1.5rem;">
                    </div>
                    <pre>{{ chat.ai_text }}</pre>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="chatInput">
            <div id="profile">
                <div id="logout">
                    <form action="/logout" method="post">
                        {% csrf_token %}
                        <button id="logoutButton" type="submit">
                            <svg id="logoutIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-4 w-4 rotate-90">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                {{ username | slice:":1" | capfirst }}
            </div>
            <form id="myForm" action="/input" method="post">
                {% csrf_token %}
                <textarea id="text_input" type="text" name="input" autocomplete="off" placeholder="Talk to scheduler assistant"  required></textarea>
                <button id="send_button" type="submit">Send</button>
            </form>
        </div>
        {% if logedin == False %}
        <div id="login">
            {% include "login.html" %}
        </div>
        {% endif %}
    </div>
    <script src="{% static 'JS/chat.js' %}"></script>
</body>
