nav {
  height: 4rem;
  background-color: #4d869c;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > h2 {
  color: white;
  font-size: 1.75rem;
}
#chatMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 4rem);
  position: relative;
}
#login {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.3rem);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chatContainer {
  width: 100%;
  height: calc(100% - 3rem);
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.chatText {
  padding: 0.25rem;
  display: flex;
  position: relative;
}
.icon {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ab2b2;
  color: #EEF7FF;
}
.uicon {
  right: -5%;
}
.aicon {
  left: -5%;
}
.chatText > pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}
.user {
  justify-content: end;
}
.user > pre {
  background-color: #7ab2b2;
}
.ai {
  justify-content: start;
}
.ai > pre {
  background-color: #eef7ff;
}

pre {
  font-family: monospace;
}

.loader {
  width: 1.75rem;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 4) 50%;
  animation: l3 1.75s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

#chatInput {
  height: 5rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#profile {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #4D869C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #EEF7FF;
  position: relative;
}
#chatInput > form {
  padding: 0.5rem;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #7ab2b2;
  border-radius: 0.5rem;
  background-color: #eef7ff;
}
#logout {
  position: absolute;
  top: -125%;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #4D869C;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logoutButton {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logoutIcon {
  height: 1.5rem;
  color: #EEF7FF;
  rotate: 90deg;
}
#text_input {
  padding: 0.5rem;
  width: calc(100% - 7rem);
  border-radius: 0.5rem;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  scrollbar-width: none;
  background-color: #eef7ff;
  font-family: monospace;
}
#send_button {
  padding: 0.5rem;
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #4D869C;
  color: #EEF7FF;
}
