nav {
  height: 4rem;
  background-color: #4D869C;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > h2 {
  color: white;
  font-size: 1.75rem;
}
#chatMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 4rem);
}
#chatContainer {
  width: 80%;
  height: calc(100% - 3rem);
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.chatText {
  padding: 0.25rem;
  display: flex;
}
.chatText > pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}
.user {
  justify-content: end;
}
.user > pre {
  background-color: #7AB2B2;
}
.ai {
  justify-content: start;
}
.ai > pre {
  background-color: #EEF7FF;
}
#chatInput {
  height: 5rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#profile{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #7AB2B2;
}
#chatInput > form {
  padding: 0.5rem;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #7AB2B2;
  border-radius: 0.5rem;
  background-color: #EEF7FF;
}
#text_input {
  padding: 0.5rem;
  width: calc(100% - 7rem);
  border-radius: 0.5rem;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  scrollbar-width: none;
  background-color: #EEF7FF;
}
#send_button {
  padding: 0.5rem;
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #7AB2B2;
}
