#loginContainer {
  width: 25rem;
  height: 25rem;
  background-color: #7ab2b2;
  border-radius: 1rem;
}
#loginNav {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #cde8e5;
  border-radius: 1rem 1rem 0 0;
}
.navTitle {
  height: 100%;
  width: 50%;
  color: #4d869c;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  transition: 0.3s;
}
.highlight {
  color: #eef7ff;
  background-color: #7ab2b2;
}
.hide {
  display: none;
}
.form {
  width: 100%;
  height: 100%;
}
.loginForm {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputField {
  position: relative;
  display: flex;
  height: 2.5rem;
  width: 15rem;
  justify-content: center;
}
input {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid #eef7ff;
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
}
label {
  position: absolute;
  padding: 0 0.5rem;
  top: 25%;
  color: #eef7ff;
  pointer-events: none;
  transition: 0.3s;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
input:focus ~ label,
input:valid ~ label {
  top: -25%;
  background-color: #7ab2b2;
}
.button {
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #eef7ff;
  background-color: transparent;
  font-size: 1rem;
  color: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.button:hover {
  background-color: #4d869c;
}

.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef7ff;
}

.warning {
  width: 15rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef7ff;
  font-size: .75rem;
}
